@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: thistle;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

input {
    background-color: teal;
    color: azure;
    font-size: 26px;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.label{
    margin-right: 20px;
}

/* 
button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

button:hover:after {
    transform: translate(0, 0);
}

button:active {
    background-color: #ffdeda;
    outline: 0;
}

button:hover {
    outline: 0;
}

@media (min-width: 768px) {
    button {
        padding: 0 40px;
    }
} */
/* < !-- HTML !--><button class="button-43"role="button">Button 43</button> */

/* CSS */
button {
    margin: 20px;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 10px;
    width: 100px;
}



