@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: thistle;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

input {
    background-color: teal;
    color: azure;
    font-size: 26px;
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}

.label{
    margin-right: 20px;
}

button {
    margin: 20px;
    background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 16px;
    justify-content: center;
    padding: 1rem 1.75rem;
    text-decoration: none;
    width: 100%;
    border: 0;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    padding: 10px;
    width: 100px;
}

.disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}



